spring:
  # redis 配置
  redis:
    # 地址
    host: 101.43.217.252
    # 端口，默认为6379
    port: 6379
    # 数据库索引
    database: 0
    # 密码
    password: waimou
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: Waimou..
    url: jdbc:mysql://101.43.217.252:3306/dev_tr?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
server:
  port: 9000
