<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trainee_online_back.mapper.MajorMapper">

    <resultMap id="BaseResultMap" type="com.example.trainee_online_back.entity.Major">
            <id property="majorId" column="major_id" jdbcType="INTEGER"/>
            <result property="majorName" column="major_name" jdbcType="VARCHAR"/>
            <result property="collegeId" column="college_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        major_id,major_name,college_id
    </sql>
</mapper>
