<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trainee_online_back.mapper.ProjectInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.trainee_online_back.entity.ProjectInfo">
            <id property="projectId" column="project_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="projectContent" column="project_content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id,user_id,project_name,
        project_content
    </sql>
</mapper>
