<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trainee_online_back.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="com.example.trainee_online_back.entity.Project">
            <id property="projectId" column="project_id" jdbcType="INTEGER"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="projectContent" column="project_content" jdbcType="VARCHAR"/>
            <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id,project_name,project_content,
        teacher_id
    </sql>
</mapper>
