<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trainee_online_back.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.example.trainee_online_back.entity.Student">
            <id property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="studentUsername" column="student_username" jdbcType="VARCHAR"/>
            <result property="studentPassword" column="student_password" jdbcType="VARCHAR"/>
            <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
            <result property="studentGender" column="student_gender" jdbcType="INTEGER"/>
            <result property="studentStatue" column="student_statue" jdbcType="VARCHAR"/>
            <result property="collegeId" column="college_id" jdbcType="INTEGER"/>
            <result property="majorId" column="major_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        student_id,student_username,student_password,
        student_name,student_gender,student_statue,
        college_id,major_id
    </sql>
</mapper>
