<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trainee_online_back.mapper.TemperatureMapper">

    <resultMap id="BaseResultMap" type="com.example.trainee_online_back.entity.Temperature">
            <id property="temperatureId" column="temperature_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="isRisk" column="is_risk" jdbcType="VARCHAR"/>
            <result property="temperatureValue" column="temperature_value" jdbcType="VARCHAR"/>
            <result property="temperatureAddress" column="temperature_address" jdbcType="VARCHAR"/>
            <result property="temperatureSymptom" column="temperature_symptom" jdbcType="VARCHAR"/>
            <result property="temperatureCreadetime" column="temperature_creadeTime" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        temperature_id,user_id,is_risk,
        temperature_value,temperature_address,temperature_symptom,
        temperature_creadeTime,deleted
    </sql>
</mapper>
