<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trainee_online_back.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.trainee_online_back.entity.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="college_id" jdbcType="INTEGER" property="collegeId" />
    <result column="major_id" jdbcType="VARCHAR" property="majorId" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, username, `password`, phone, 
    `role`, `name`, college_id, major_id, class_id, deleted, email
  </sql>
    <select id="getUserInfo" resultType="com.example.trainee_online_back.entity.Vo.UserInfoVo">
        SELECT u.CREATED_BY,
               u.CREATED_TIME,
               u.UPDATED_BY,
               u.UPDATED_TIME,
               u.id,
               u.username,
               u.phone,
               u.role,
               u.name,
               u.college_id,
               co.college_name,
               co.college_explan,
               u.major_id,
               ma.major_name,
               u.class_id,
               cl.class_name,
               cl.class_dec
        FROM `user` u
                 INNER JOIN college co ON u.college_id = co.college_id
                 INNER JOIN major ma ON u.major_id = ma.major_id
                 INNER JOIN class cl ON u.class_id = cl.id
            AND u.deleted = 0
            AND u.id = #{userid}
    </select>
</mapper>